<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="restClientRepeats" value="5"/>
    <add key="enableListenerOnStarup" value="true"/>
    <add key="logToScreen" value="true"/>
    <add key="logToFile" value="true"/>
  </appSettings>
</configuration>